<div class="page-header">
  <%= link_to group_path(@event.group_id), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_event_path(@event), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @event.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Group:</dt>
  <dd><%= @event.group.name %></dd>

  <dt>Album:</dt>
  <dd><%= @event.name %></dd>

  <dt>Description:</dt>
  <dd><%= @event.description %></dd>


</dl>

<div class="page-header">
  <%= link_to new_upload_path(@event), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
  Upload Photos
  <% end %>
  <h3>Listing Photos</h3>
</div>


<div id="links">

	<% @event.photo_records.each do |photo_record| %>
		<!-- <a href="<%=photo_record.photo.url%>" ><img src="<%=photo_record.photo.thumb.url%>" class="remove-padding" alt="<%=@event.name%>"></a> -->

	<div class="img-thumbnail text-center">
	   <a href="<%=photo_record.photo.url%>"  ><img src="<%=photo_record.photo.thumb.url%>" class="remove-padding" alt="<%=@event.name%>"></a>
	   <p style="font-size:10px">
	   Uploaded by <%=photo_record.user.email%>
   	   </p>
	   <%= link_to 'Delete', photo_record, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-xs da'%>
	 </div>
	 <% end%>
</div>
