<div class="page-header">
  <%= link_to new_photo_record_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Photo record
  <% end %>
  <h1>Listing photo_records</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Event</th>
            <th>User</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @photo_records) do |photo_record| %>
            <td><%= photo_record.event %></td>
            <td><%= photo_record.user %></td>
            <td><%= link_to 'Show', photo_record %></td>
        <td><%= link_to 'Edit', edit_photo_record_path(photo_record) %></td>
        <td><%= link_to 'Destroy', photo_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
