<% content_for :title, @event.name %>

<h1><%=@event.group.name%></h1>
<p><%=@event.group.description%></p>
<h2><%=@event.name%></h2>
<p><%=@event.description%></p>
<br />

	<div id="links" class="galleryView" >
		<% @event.photo_records.each do |photo_record| %>
			<a href="<%=photo_record.photo.url%>" ><img src="<%=photo_record.photo.thumb.url%>" class="remove-padding" alt="<%=@event.name%>"></a>
		<% end%>
	</div>
