<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Collapsible sidebar using Bootstrap 3</title>
	<link rel="stylesheet" href="/css/blueimp-gallery.min.css">
	<!-- Bootstrap CSS CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Our Custom CSS -->
	<link rel="stylesheet" href="/style5.css">

</head>

<body>



	<div class="wrapper">
		<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>IIIT-Bangalore Gallery</h3>
			</div>

			<ul class="list-unstyled components">
				<!-- <p>Dummy Heading</p> -->
				<% Group.all.each do |group| %>
				<li>
					<% events = group.events %>
					<% if events.length == 1 %>
						<a href="<%=gallery_event_path(events.first.id,events.first.name)%>"><%=group.name %></a>
					<% elsif events.length >1%>
						<a href="#<%= group.id %>Submenu" " data-toggle="collapse" aria-expanded="<%= @group == group ?'true': 'false'%>"><%=group.name %></a>
						<ul class="collapse <%= @group == group ?'in': ''%> list-unstyled" id="<%= group.id %>Submenu">
							<% events.all.each do |event| %>
								<li><a href="<%=gallery_event_path(event.id,event.name)%>"><%=event.name %></a></li>
							<% end %>
						</ul>
					<% end %>
				</li>
				<% end %>

				<!-- <li class="active">
					<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
					<ul class="collapse list-unstyled" id="homeSubmenu">
						<li><a href="#">Home 1</a></li>
						<li><a href="#">Home 2</a></li>
						<li><a href="#">Home 3</a></li>
					</ul>
				</li>
				<li>
					<a href="#">About</a>
					<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
					<ul class="collapse list-unstyled" id="pageSubmenu">
						<li><a href="#">Page 1</a></li>
						<li><a href="#">Page 2</a></li>
						<li><a href="#">Page 3</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Portfolio</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li> -->
			</ul>

			<ul class="list-unstyled CTAs">
				<li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
				<li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
			</ul>
		</nav>

		<!-- Page Content Holder -->
		<div id="content" class = "container">

			<nav class="navbar navbar-default">
				<div class="container-fluid">

					<div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Page</a></li>
							<li><a href="#">Page</a></li>
							<li><a href="#">Page</a></li>
							<li><a href="#">Page</a></li>
						</ul>
					</div>
				</div>
			</nav>


			<%= yield %>

			<!-- <h1>Infin8</h1>
			<h2>Badminton</h2> -->
			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
				dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->


				<!-- <div id="links">
				    <a href="img/img1.JPG" title="">
				        <img src="img/img1.JPG" alt="Banana">
				    </a>
				    <a href="img/img2.JPG" title="Banana">
				        <img src="img/img2.JPG" alt="Banana">
				    </a>
				    <a href="img/img3.JPG" title="Banana">
				        <img src="img/img3.JPG" alt="Banana">
				    </a>
				    <a href="img/img4.JPG" title="Banana">
				        <img src="img/img4.JPG" alt="Banana">
				    </a>
				    <a href="img/img5.JPG" title="Banana">
				        <img src="img/img5.JPG" alt="Banana">
				     </a>
				</div> -->



			<div class="line"></div>
		</div>
	</div>





	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<!-- Bootstrap Js CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	 <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $(this).toggleClass('active');
                 });
             });
         </script>
	<script src="/js/blueimp-gallery.min.js"></script>
		<script>
	document.getElementById('links').onclick = function (event) {
	    event = event || window.event;
	    var target = event.target || event.srcElement,
	        link = target.src ? target.parentNode : target,
	        options = {index: link, event: event},
	        links = this.getElementsByTagName('a');
	    blueimp.Gallery(links, options);
	};
	</script>
	<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
		<div class="slides"></div>
		<h3 class="title"></h3>
		<a class="prev">‹</a>
		<a class="next">›</a>
		<a class="close">×</a>
		<a class="play-pause"></a>
		<ol class="indicator"></ol>
	</div>
</body>

</html>
